<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SDK paypal</title>
        <link rel="stylesheet" type="text/css" href="views/css/style.css" />
    </head>

    <body>
        <div class="infos">
            Module Paypal - Nodejs
        </div>
        
        
        <div class="BoutonPay">
    	   <a href="pay"> Paiement </a>
        </div>
        
        <div class="légende">
            <p> Effectuez une action de paiement en cliquant sur le bouton çi-dessus </p>
        </div>
            
        <div id="footer">
            <p> Création d'un module de paiement Groupe 9 - 4A Web EB1 </p>
        </div>
    </body>
</html>
